.product {
    width: 40%;
    margin: 0 auto;
    text-align: center;
}

.product-title {
    font-size: 2.4rem;
    margin: 1.6rem auto;
}
.product-description {
    font-size: 1.6rem;
    font-weight: 300;
    margin: 1rem auto;

}
.auction-nudge {
    font-family: 'Roboto Condensed', sans-serif;
    width: 90%;
    margin: 0 auto;
}
#an-item-wrap {
    padding-left: 5%;
}


#an-cats-nav,
#an-search-box {
    height: 40px;
    width: 260px;
    font-size: 1.2rem;
    padding: 2px;
    font-family: 'Roboto Condensed', sans-serif;
    border-color: 1px solid black;
}

#auction-nudge-items a {
    color: #434141;
    font-size: 1.2rem;
    margin: 0 auto;  
}

#an-search-submit {
    height: 38px;
}

div#auction-nudge-items div#an-search-submit {
	background-color: #F17D21;
	color: white;
    border-radius: 4px;
}	

div#auction-nudge-items ul.an-page-wrap {
    background-color: #537188;
    color: white;
    border-radius: 4px;
  }
.an-amount {
    font-size: 1.4rem;
}

div#auction-nudge-items .an-view a {
    color: orange;
}

@media (max-width: 800px) {
    .product {
        width: 90%;
    }
    .product-title {
        font-size: 2rem;
    }
    .product-description {
        font-size: 1.4rem;
    }
}