.reviews {
    width: 40%;
    margin: 0 auto;
    text-align: center;
}

.review-title {
    font-size: 2.4rem;
    margin: 1.6rem auto;
}
.review-description {
    font-size: 1.6rem;
    font-weight: 300;
    margin: 1rem auto 3rem;
}

.feedback {
    width: 60%;
    margin: 0 auto;
    padding-left: 6rem;
}

.feedback td {
    background: white;
}

.feedback td.second {
    font-size: 1.2rem;
    font-weight: 300;
}

.auction-nudge {
    font-family: 'Roboto Condensed', sans-serif;
    width: 90%;
    margin: 10px auto;
}
#auction-nudge-items {
    margin: 0 auto;
    padding: 0;
}

@media (max-width: 900px) {
    .reviews {
        width: 80%;
    }
    .feedback {
        width: 100%;
        padding: 0;
    }
}