nav {
    display: flex;
    align-items: center;
    width: 100vw;
    height: 12vh;
    padding-left: 8rem;
}

.nav-items {
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 85%;
    height: 100%;
    padding-left: 1rem;
    align-items: center;
    flex-wrap: wrap;
}

.nav-item {
    font-size: 1.4rem;
    list-style: none;
    font-weight: 300;
}

.logo {
    height: 72px;
}

.ebay-button {
    height: 48px;
    width: 200px;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F17D21;
    color: white;
    text-decoration: none;
    font-size: 1.3rem;
    border-radius: 6px;
    margin-left: 7rem;
    box-shadow: 0 15px 30px 5px rgba(0, 0, 0, 0.3);
  }
  
  .ebay-button:hover {
    background-color: #e4771d;
    color: white;
    transition: 0.3s;
  }

.nav-button { 
    right: 0;
    margin-left: 55%; 
} 

.show-on-mobile a {
    display: none;
}

@media (max-width: 1344px) {
    .nav-button {
        margin-left: 10%;
    }
} 

@media (max-width: 700px) {
    nav {
        padding: 1rem;
        height: 15vh;
    }

    .nav-items {
        display: block;
        text-align : right;
    }

    .nav-item {
        padding-bottom: 0.4rem;
    }

    .nav-button {
        display: none;
    }
    .show-on-mobile a {
        display: block;
    }
}